body{
    background-color: #14181c;
    align-items: center;
}



.text{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 150%;
    font-weight: bold;
    text-shadow: 2px 2px 5px #cccccc;

}




.main-box{
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.main-box-text{
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.main-box-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40% !important;
    margin-top: -2%;
}

.soon-text{
    align-self: center;
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 45px !important;
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 100px;
    text-align: center;
    text-shadow: 0px 0px 3px #cccccc;
    
}

.freak-png{
    display: inline-block;
    width: 170px;
    height: 170px;
    border: 2px solid red;
    overflow: hidden;
}

.container img{
    overflow: hidden;
    position: relative;
    top: 50%;
    width: auto;
    height: 120px;
    transform: translateY(-50%);
    margin-left: -40%;
}

.container {
    overflow: hidden;
    width: 120px;
    float: left;
    height: 120px;
    border: 3px solid white;
    box-shadow: 0px 0px 5px white;
    border-radius: 35px;
  }



.header-text-beststreams{
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 100px;
    text-shadow: 0px 0px 4px white;
    letter-spacing: 1px;
}

.prime-text {
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0px 0px 2px white;
    letter-spacing: 1px;
}

.grid {
    width: 850px;
    display: grid;
    align-items: center; 
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    column-gap: 0px;
    margin: 0 auto;

}

.grid-min {
    align-items: center !important;
    content: "";
    display: table;
    clear: both;
    margin: 0 auto;
}

.right {
    text-align: center;
    gap: 0px;
    width: 350px;
    margin-left: 105px;
    align-items: center;
}

.date-text{
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 25px;
    text-shadow: 0px 0px 2px white;
    letter-spacing: 1px;
}

.prime-button{
    position: relative;
    height: 40px;
    width: 170px;
    background-color: #e11616;
    border-radius: 15px;
    text-shadow: 0px 0px 1px white;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 0px 5px #e11616;
    border: #e11616;
    color: white;
}

.prime-button:hover{
    background-color: #9c1717;
}


@media (max-width: 900px) {
    .main-box-img{
        margin-top: 100px;
    }
    .grid {
      display: none
    }
    .menu{
        margin-left: auto;
        margin-right: auto;
    }
    .main-box-img{
        width: 70% !important;
    }
    .soon-text{
        font-size: 35px !important;
    }
    .date-text{
        font-size: 17px;
    }
    .prime-text{
        font-size: 20px;
    }
    .container img{
        margin-right: auto;
        height: 100px;
        transform: translateY(-50%);
        margin-left: -40%;
    }
    
    .container {
        width: 100px;
        height: 100px;
        margin-left: auto;
      }
      .right{
        margin-left: -15px;
        margin-right: auto;
      }
  }
  @media (min-width: 900px) {
    .grid-min {
      display: none
    }
    .menu{
        margin-left: auto;
        margin-right: 100px;
    }
    .soon-text{
        font-size: 50px;
    }
  }

